<h1 style="text-align:center">
  Módulo: {{titulo}}
</h1>
<!--
<h2>Nome: {{ objLoginPessoa.nome }} Password: {{objLoginPessoa.password}}</h2>
-->

<div style="text-align:center">
  <h2>Utilizador:</h2>
  <p>
    <label>Nome:    
      <input [(ngModel)]="objLoginPessoa.nome" placeholder="nome">
    </label>
  </p>
  <p>
    <label>Password:
      <input [(ngModel)]="objLoginPessoa.password" placeholder="pass">
    </label>
  </p>  
  <button class="delete" title="send"
  (click)="fazerLogin(objLoginPessoa.nome, objLoginPessoa.password)">LOGIN</button>
</div>
