<h1 style = "text-align: center">Módulo: Criar/Editar Receitas</h1>
<div *ngIf="atoresService.algemLogado">

<div *ngIf="atoresService.medico">  
  <p>
    <label>Nome Medicamento: <input [(ngModel)]="nomeMedicamento" placeholder="Se vazio devolve todos."> </label> 
    <button class="bn" title="Procurar medicamentos" (click)="getListaFarmacosPorNome()">Buscar</button>
</p>

<h2>Farmacos:</h2>
<p class="estado"><b>{{estadoFarmacos}}</b></p>
<div *ngIf="farmacos">  
    <ul class="farmacos">
        <li *ngFor="let farmaco of farmacos">
            Id: {{farmaco.id}} Nome: <b>{{farmaco.nome}} </b> <br>
                <button class="bn2" title="Procurar Apresentacoes deste Farmaco" (click)="getListaApresentacoesDeFarmacoDeID(farmaco.id)">Apresentacoes</button>                
                <button class="bn2" title="Procurar Posologias    deste Farmaco" (click)="getListaPosologiasDeFarmacoDeID(farmaco.id)">Posologias</button>                
            
        </li>
      </ul>
</div>

<h2>Apresentacoes:</h2>
<p class="estado"><b>{{estadoApresentacoes}}</b></p>
<div *ngIf="apresentacoes">
    <ul class="apresentacoes">
        <li *ngFor="let apresentacao of apresentacoes">
          
              <b>Id: {{apresentacao.id}} </b>               
              <button class="bn3" title="Criar nova prescricao e introduzir o idApresentacao" (click)="presceverApresentacao(apresentacao.id)">Criar Prescricao</button>
              <br>
              idFarmaco: {{apresentacao.idFarmaco}}<br>
              nomeFarmaco: <b>{{apresentacao.nomeFarmaco}}</b><br>
              forma: {{apresentacao.forma}} <br> concentracao: {{apresentacao.concentracao}} <br>qtd: {{apresentacao.qtd}}  <br>
              
          
        </li>
    </ul>    
</div>

<h2>Posologias:</h2>
<p class="estado"><b>{{estadoPosologias}}</b></p>
<div *ngIf="posologias">
    <ul class="posologias">
        <li *ngFor="let posologia of posologias">          
              <b>Id: {{posologia.id}} </b> idApresentacao: {{posologia.idApresentacao}}
              <button class="bn3" title="Copiar para a ultima prescricao" (click)="copiarPosologia(posologia)">Copiar</button>
              <br>
              {{posologiaToString(posologia)}}          
        </li>
    </ul>
    
</div>

</div>

  <div *ngIf="atoresService.medico">
    <h2 style = "text-align: center">Area restrita a medicos</h2>


    <ul style = "text-align: center" class="criarreceitasclass"> 
        <button class="bn" title="CRIAR" (click)="criarNovaReceita()">CRIAR</button>
        <button class="bn" title="EDITAR" (click)="editarReceita()">EDITAR</button>
        <label>id Receita Editar: <input class="long" [(ngModel)]="sreceitasService.sugestaoReceita" placeholder="auto"></label>

<br>    <label class="green">{{sreceitasService.criarReceitaMessage}}{{sreceitasService.editarReceitaMessage}}</label>
<p>==============================================</p>
          <p> <label>Nome utente: <input [(ngModel)]="nomeUtente" placeholder="utente"> </label> </p>
  
          <button class="bn2" title="Nova Prescricao" (click)="novaPrescricao()">Nova Prescricao</button>
          <li *ngFor="let NovaPrescricao of prescricoes">
            Prescricao:
            <p> <label>ID apresentacao: <input [(ngModel)]="NovaPrescricao.idApresentacao" placeholder="introduza um numero"> </label> </p>
            <p> <label>Posologia: <input class="long" [(ngModel)]="NovaPrescricao.posologia" placeholder="Escolha posologia."> </label> </p>

              <p> <label>Quantidade: <input [(ngModel)]="NovaPrescricao.quantidade" placeholder="introduza um numero"> </label> </p>
              <p> <label>Nome medicamento: <input [(ngModel)]="NovaPrescricao.nomeMedicamento" placeholder="Cegripe"> </label> </p>
          </li>
          <button class="bn2" title="Apagar ultima Prescricao" (click)="apagarUltimaPrescricao()">Apagar ultima prescricao</button>
          
    </ul>
        <button class="bd" title="Imprimir receita" (click)="imprimirDebug()">Imprimir receita</button>
  </div>
</div>
<!--

<button class="bn" title="CRIAR" (click)="criarNovaReceita()">CRIAR</button>
        <button class="bn" title="EDITAR" (click)="editarReceita()">EDITAR</button>


<span class="badge">{{Receita.idReceita}}</span><br>
          Utente: {{Receita.nomeUtente}}<br>
          Medico: {{Receita.nomeMedico}}<br>
          Data: {{Receita.data}}  <br>
          Informacao:<br>    
          <ul class="Receita.prescricoes">
              <li *ngFor="let prescricoes of Receita.prescricoes">
                Farmaco: "{{prescricoes.nomeFarmaco}}" em {{prescricoes.apresentacao.forma}} Aviados: {{prescricoes.aviados}} de {{prescricoes.quantidade}} . 



    <ul class="criarreceitasclass">
      <p>Receita:</p>
        <p> <label>Nome utente: <input [(ngModel)]="receitaCriar.utente" placeholder="utente"> </label> </p>

        <button class="badd" title="Nova Prescricao" (click)="novaPrescricao()">Nova Prescricao</button>
        
        <li *ngFor="let NovaPrescricao of receitaCriar.prescricao">
            <p> <label>Quantidade: <input [(ngModel)]="NovaPrescricao.nomeMedicamento" placeholder="1"> </label> </p>
        </li>

      </ul>
      <button class="bprint" title="Imprimir receita" (click)="imprimirDebug()">Imprimir receita</button>



-->

