<h1 style = "text-align: center">Módulo: Listar Informacao de apresentação de Medicamento</h1>

<div *ngIf="atoresService.anonToken">
 <p class="green"><b>Modulo online.</b></p> 

 <p>
    <label>Nome Medicamento: <input [(ngModel)]="nomeMedicamento" placeholder="Se vazio devolve todos."> </label> 
    <button class="bn1" title="Procurar medicamentos" (click)="getListaMedicamentos()">Buscar</button>
</p>

<h2>Medicamentos:</h2>
<p class="estado"><b>{{estadoMedicamentos}}</b></p>
<div *ngIf="medicamentos">  
    <ul class="medicamentos">
        <li *ngFor="let medicamento of medicamentos">
            <p>Id: {{medicamento.id}} Nome: <b>{{medicamento.nome}} </b><br>
                <button class="bn2" title="Procurar Apresentacoes deste medicamento" (click)="getListaApresentacaoDeMedicamentoDeID(medicamento.id)">Apresentacoes</button>
                <button class="bn2" title="Procurar Posologias deste medicamento" (click)="getListaPosologiasDeMedicamentoDeID(medicamento.id)">Posologias</button>
            </p>
        </li>
      </ul>
</div>

<h2>Apresentacoes:</h2>
<p class="estado"><b>{{estadoApresentacoes}}</b></p>
<div *ngIf="apresentacoes">
    <ul class="apresentacoes">
        <li *ngFor="let apresentacao of apresentacoes">
          
              <b>Id: {{apresentacao.id}} </b><br>
              idFarmaco: {{apresentacao.idFarmaco}}<br>
              nomeFarmaco: <b>{{apresentacao.nomeFarmaco}}</b><br>
              forma: {{apresentacao.forma}} <br> concentracao: {{apresentacao.concentracao}} <br>qtd: {{apresentacao.qtd}}  <br>
              
          
        </li>
    </ul>
    
</div>

<h2>Posologias:</h2>
<p class="estado"><b>{{estadoPosologias}}</b></p>
<div *ngIf="posologias">
    <ul class="posologias">
        <li *ngFor="let posologia of posologias">
          
              <b>Id: {{posologia.id}} </b> idApresentacao: {{posologia.idApresentacao}}<br>
              {{posologiaToString(posologia)}}
          
        </li>
    </ul>
    
</div>

</div>

<!--
  Posologia
      {
        "id": 6,
        "idApresentacao": 11,
        "duracao": 8,
        "intervalo": 12,
        "dosagem": 5
    }
    Apresentacao
  {
        "id": 12,
        "idFarmaco": 6,
        "nomeFarmaco": "f01",
        "forma": "xarope",
        "concentracao": "15mg",
        "qtd": "75"
    }
-->