<h1 style = "text-align: center">Módulo: Ver Receitas e Aviamentos</h1>
<div *ngIf="atoresService.algemLogado">

  <p style = "text-align: center">
    <label>Sugestao:         <input class="long" [(ngModel)]="sreceitasService.sugestaoReceita" placeholder="insira um id de receita"></label>
    <button class="bn2" title="Copia a sugestao para o campo ID e busca." (click)="verSugestao()">Ver Sugestao</button>
  </p>
  <p style = "text-align: center">
    <label>ID receita a ver: <input class="long" [(ngModel)]="idReceitaAVer" placeholder="insira um id de receita"></label>
    <button class="bn" title="Busca receita do campo ID." (click)="buscarReceita()">Ver Receita</button>
  </p>
  <p class="estado">ESTADO: {{estado}}</p>

  <h2>Receita:</h2>
  <div class="creceita" *ngIf="receita">      
        <h4>{{receita.idReceita}}</h4>
        Utente: {{receita.nomeUtente}}<br>
        Medico: {{receita.nomeMedico}}<br>
        Data: {{receita.data}}  <br>
        <br>
        Prescricoes:<br>    
        <ul class="receita.prescricoes">
            <li *ngFor="let prescricoes of receita.prescricoes">              
              Prescricao:  <b>{{prescricoes.idPrescricao}}</b>  
              <button class="bn2" title="Detalhe desta prescricao." (click)="buscarPrescricao(receita.idReceita, prescricoes.idPrescricao)">Detalhe Aviamentos</button>
              <br>
              Farmaco:     "{{prescricoes.nomeFarmaco}}"        <br>
              Medicamento: {{prescricoes.nomeMedicamento}}    <br>
              Apresentacao: {{prescricoes.apresentacao.id}}     <br>
              <div class="ind"> Forma:        {{prescricoes.apresentacao.forma}}  </div>
              <div class="ind"> Concentracao: {{prescricoes.apresentacao.concentracao}} </div>
              <div class="ind"> Quantidade:   {{prescricoes.apresentacao.qtd}}          </div>                            
              Aviados:  {{prescricoes.aviados}}                 <br>
              Quantidade prescrita:{{prescricoes.quantidade}}          <br>
              Posologia: {{prescricoes.posologia}}                <br>
              <br>
            </li>
          </ul>
    </div>

    
    <h2>Detalhe prescricao:</h2>
    <p class="estado"><b>Estado prescricao:</b> {{estadoPrescricao}}</p>

    
    <div class="prescricao" *ngIf="prescricao">
      
        <div class="cfarmaceutico" *ngIf="atoresService.farmaceutico">
            <b>AVIAR: </b>
             <button class="bn3" title="Aviar quantidade" (click)="aviar(nAviar, prescricao.idPrescricao, nMedicamento)">Aviar {{nAviar}}</button>
             <br>

            <button class="bn3" title="Add 1" (click)="add1()">Add</button>           
            <button class="bn3" title="Remove 1" (click)="rem1()">Remove</button>
            <button class="bn3" title="Maximo" (click)="max()">MAX</button>
            <br>
            <label>Nome Medicamento: <input class="long" [(ngModel)]="nMedicamento" placeholder="Insira nome medicamento a aviar."></label>        
        </div>
      
        Prescricao:  <b>{{prescricao.idPrescricao}}</b>         <br>
        Farmaco:     "{{prescricao.nomeFarmaco}}"        <br>
        Medicamento: {{prescricao.nomeMedicamento}}    <br>
        Apresentacao: {{prescricao.apresentacao.id}}     <br>
        <div class="ind"> Forma:        {{prescricao.apresentacao.forma}}  </div>
        <div class="ind"> Concentracao: {{prescricao.apresentacao.concentracao}} </div>
        <div class="ind"> Quantidade:   {{prescricao.apresentacao.qtd}}          </div>                            
        Aviados:  {{prescricao.aviados}}                 <br>
        Quantidade prescrita:{{prescricao.quantidade}}          <br>
        Posologia: {{prescricao.posologia}}                <br>
        <p>Aviamentos:</p>
        <ul class="prescricao.aviamentos">
            <li *ngFor="let aviamentos of prescricao.aviamentos"> 
                Nome Farmaceutico: {{aviamentos.nomeFarmaceutico}} <br>
                Nome Medicamento:  {{aviamentos.nomeMedicamento}} <br>
                Quantidade:        {{aviamentos.quantidade}} <br>
                Data:              {{aviamentos.data}} <br>
                <br>
            </li>
        </ul>

    </div>
  

</div>
<div style="text-align: center" *ngIf="!atoresService.algemLogado">
  P.f. loge-se.
</div>
<!--
()=====================================================================()
{
  "type":"receitaDTO",
  "idReceita":"5a04e343cdb12e1d40d1acf2",
  "nomeMedico":"medico",
  "nomeUtente":"utente",
  "emailUtente":"arqsis2017@gmail.com",
  "data":"2017-11-09T23:22:48.000Z",
  "prescricoes":[
  {
    "idPrescricao":2,
    "idFarmaco":3,
    "nomeFarmaco":"Acetilsalicilato de lisina",
    "posologia":"Uma colher de antes de ir para a escola.",
    "quantidade":15,
    "aviados":0,
    "idApresentacao":5,
    "apresentacao":{
      "id":5,
      "concentracao":"10mg",
      "forma":"comprimidos",
      "qtd":"24"
    }
  },
  {"idPrescricao":1,"idFarmaco":3,"nomeFarmaco":"Acetilsalicilato de lisina","posologia":"Uma colher antes de dormir.","quantidade":1,"aviados":1,"idApresentacao":5,"apresentacao":{"id":5,"concentracao":"10mg","forma":"comprimidos","qtd":"24"},"nomeMedicamento":"Cegripe"},{"idPrescricao":0,"idFarmaco":1,"nomeFarmaco":"Acetaminofeno","posologia":"Um comprimido ao deitar.","quantidade":5,"aviados":3,"idApresentacao":1,"apresentacao":{"id":1,"concentracao":"10mg","forma":"comprimidos","qtd":"24"}}]} 

  {
    "idPrescricao": 1,
    "idFarmaco": 3,
    "nomeFarmaco": "Acetilsalicilato de lisina",
    "posologia": "Uma colher antes de dormir.",
    "quantidade": 1,
    "aviados": 1,
    "idApresentacao": 5,
    "apresentacao": {
        "id": 5,
        "concentracao": "10mg",
        "forma": "comprimidos",
        "qtd": "24"
    },
    "nomeMedicamento": "Cegripe",
    "aviamentos": [
        {
            "nomeFarmaceutico": "farmaceutico",
            "quantidade": 1,
            "data": "2017-11-10T15:59:47.000Z",
            "nomeMedicamento": "Cegripe"
        }
    ]
}

-->