<h1 style="text-align:center"> Módulo: Registar </h1>
<div *ngIf="!atoresService.algemLogado" style="text-align:center">
  <p>Registe um novo utilizador:</p>
  <p>
      <label>Nome:    
        <input [(ngModel)]="pessoa.nome" placeholder="nome">
      </label>
    </p>
    <p>
      <label>Password:
        <input [(ngModel)]="pessoa.password" placeholder="pass">
      </label>
    </p>  
    <p> <label>Email: <input [(ngModel)]="pessoa.email" placeholder="email UNICO"> </label> </p>
    <p> <label>Medico: 
        <button  title="True"
        (click)="setMedico(true)">True</button>    
        <button  title="False"
        (click)="setMedico(false)">False</button> 
        {{pessoa.medico}}   
       </label> </p>
    <p> <label>Farmaceutico: 
        <button  title="True"
        (click)="setFarmaceutico(true)">True</button>    
        <button  title="False"
        (click)="setFarmaceutico(false)">False</button>    
        {{pessoa.farmaceutico}}        
    </label> </p>
    <button class="delete" title="Registar"
    (click)="registar()">REGISTAR</button>
    <p *ngIf="atoresService.aRegistarPessoa">{{atoresService.sucessoRegisto}}</p>
</div>
<div style="text-align: center" *ngIf="atoresService.algemLogado">
  P.f. desloge-se.
</div>

<!--
  <p> <label>Farmaceutico: <input [(ngModel)]="pessoa.farmaceutico" placeholder="false"> </label> </p>
<input type="radio" name="response" data-ng-model="choice.isUserAnswer" data-ng-value="true" />
<input type="radio" name="response" data-ng-model="pessoa.farmaceutico" data-ng-value="false" />
<input name='obj1.data' type="checkbox" ng-model="pessoa.farmaceutico" ng-true-value="!pessoa.farmaceutico" ng-false-value="pessoa.farmaceutico">
-->