<!-- Modulo para mostrar todas as receitas do utilizador com um get.-->
<h1 style = "text-align: center">Módulo: Listar Receitas</h1>
<div *ngIf="atoresService.algemLogado">
  <nav style = "text-align: center">
  <button class="delete" title="Obter"
  (click)="obterReceitas()">Obter</button>
  <button class="delete" title="Debug"
  (click)="debugShow()">Debug</button>
  <p>Resultados:</p>
  </nav>
  <ul class="receitas">
    <li *ngFor="let Receita of receitas">
      <span class="badge">{{Receita.idReceita}}</span> 
      <a routerLink="/verreceita">
        <button class="link" title="link para esta receita" (click)="sugestao(Receita.idReceita)">Ver</button>
      </a><br>
      Utente: {{Receita.nomeUtente}}<br>
      Medico: {{Receita.nomeMedico}}<br>
      Data: {{Receita.data}}  <br>
      Informacao:<br>    
      <ul class="Receita.prescricoes">
          <li *ngFor="let prescricoes of Receita.prescricoes">
            Farmaco: "{{prescricoes.nomeFarmaco}}" em {{prescricoes.apresentacao.forma}} Aviados: {{prescricoes.aviados}} de {{prescricoes.quantidade}} . 
          </li>
        </ul>
        -------------------------------------------------------------------------------------------  
    </li>
  </ul>
</div>
<div style="text-align: center" *ngIf="!atoresService.algemLogado">
  P.f. loge-se.
</div>


<!--
  Texto: {{imprimir("")}}    
  <ul class="Receita">
        <li *ngFor="let prescricao of Receita">
          {{prescricao.idPrescricao}}

        </li>
      </ul>
-->
