    /* AppComponent's private CSS styles */
    h1 {
        font-size: 1.2em;
        color: rgb(255, 0, 0);
        margin-bottom: 0;
      }
      h2 {
        font-size: 2em;
        margin-top: 0;
        padding-top: 0;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(4, 170, 247);
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover{
        background-color: rgba(0, 255, 13, 0.795);
      }

      li {
        border-right: 1px solid rgb(255, 255, 255);
      }
    
      li:last-child {
        border-right: none;
      } 
    
