.button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
   
  button:hover {
    background-color: #cfd8dc;
  }
   
  button.delete {
    background-color: rgb(255, 0, 0); /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
  }

  button.delete:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button.delete:active {
    background-color: #ff0000d5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }