<!-- O dashboard serve para mostar o nome do utilizador logado e o role, medico e farmaceutico.  -->
<div style = "text-align:right"  *ngIf="atoresService.algemLogado">
    Nome: {{atoresService.myNome}} Medico: {{atoresService.medico}}  Farmaceutico: {{atoresService.farmaceutico}} 
    <p>Token: {{atoresService.myToken}}</p>
    <button class="delete" title="LOGOUT"
    (click)="logout()">LOGOUT</button>
</div>
<!--
  <div *ngIf="!atoresService.algemLogado">P.F. faca login.</div>
  <div $scope.t ={{atoresService.algemLogado}} @ngif="t == false">TESTE</div>
  <div t == {{atoresService.algemLogado}}></div>
  data ng-init="al={{atoresService.algemLogado}}"/>
<div @ngIf="t">TESTE</div>
-->