<h1 style = "text-align: center">Módulo: Ver Prescricoes por Aviar de Utente</h1>
<div *ngIf="atoresService.algemLogado">

    <label>Nome Utente: <input [(ngModel)]="nomeUtente" placeholder="Introduza o nome de um utente."> </label> <br>
    <label>Data minima de criacao:<input [(ngModel)]="data" placeholder="DD-MM-AAAA"> </label> <br>
    <button class="bn1" title="Procurar as prescricoes" (click)="getListaPrescricoesDeUtenteDepoisDe()">Procurar</button><br>

    <h2>Prescricoes:</h2> 
    <b>{{estadoPrescricoes}}   </b>
    <p class="estado"><b>{{estadoPosologias}}</b></p>
    <div *ngIf="prescricoes">
        <ul class="prescricoes">
            <li *ngFor="let p of prescricoes"> 

                  <b>IdReceita: {{p.idReceita}}</b><br>
                  <a routerLink="/verreceita">
                    <button class="link" title="link para esta receita" (click)="sugestao(p.idReceita)">Ver</button>
                  </a><br>
                  Data: {{p.data}}<br>
                  Farmaco: {{p.nomeFarmaco}}<br>
                  Forma: {{p.apresentacao.forma}} qtd: {{p.apresentacao.qtd}}<br>
                  Posologia: {{p.posologia}}<br>
                  Aviamentos: <b>{{p.aviados}}</b> de <b>{{p.quantidade}}</b>  <br> 
                  <br>           
            </li>
        </ul>
        
    </div>

</div>
<!--
      {
        "type": "prescricao por aviar",
        "idReceita": "5a04d9a612e29f2534883fd7",
        "data": "2017-11-09T22:41:42.000Z",
        "idPrescricao": 2,
        "idFarmaco": 3,
        "nomeFarmaco": "Acetilsalicilato de lisina",
        "posologia": "Uma colher de antes de ir para a escola.",
        "quantidade": 15,
        "aviados": 0,
        "idApresentacao": 5,
        "apresentacao": {
            "id": 5,
            "concentracao": "10mg",
            "forma": "comprimidos",
            "qtd": "24"
        }
-->